<a href="https://colab.research.google.com/github/alyssa-tsh/CS3244_ML_Project/blob/main/cs3244_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from functions import data_pipeline

/workspaces/CS3244_ML_Project/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
train, test = data_pipeline()

Loading data
Downloading from https://www.kaggle.com/api/v1/datasets/download/rikdifos/credit-card-approval-prediction?dataset_version_number=3&file_name=application_record.csv...

100%|██████████| 3.04M/3.04M [00:01<00:00, 2.48MB/s]

Extracting zip of application_record.csv...

Downloading from https://www.kaggle.com/api/v1/datasets/download/rikdifos/credit-card-approval-prediction?dataset_version_number=3&file_name=credit_record.csv...

100%|██████████| 2.28M/2.28M [00:01<00:00, 1.97MB/s]

Extracting zip of credit_record.csv...

Splitting data
Total unique accounts: 45985. Starting to find cutoff point
Cutoff month where CDF reaches 80%: -10

=== Split based on CDF 80% cutoff ===
Cutoff month: -10 (10 months ago)
Old accounts (≤ month -10): 37,210 (80.9%)
New accounts (> month -10): 8,775 (19.1%)
Ratio (old/new): 4.2405
Splitting raw credit records
Cleaning old accounts credit records - [Length: 996586]

/workspaces/CS3244_ML_Project/functions.py:174: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  final_df = df.groupby(['id', 'origination_month']).apply(lambda x: pd.Series({

Cleaning new accounts credit records - [Length: 51989]

/workspaces/CS3244_ML_Project/functions.py:174: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  final_df = df.groupby(['id', 'origination_month']).apply(lambda x: pd.Series({
/workspaces/CS3244_ML_Project/functions.py:81: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_dropped=df_sorted.groupby('id', group_keys=False).apply(keep_row)

Cleaning credit data completed
Splitting application dataset
Starting to clean application records
Dropping object columns
Completed cleaning raw application records
Merging data
Engineering target variable to label data
Completed old accounts labelling
Completed new accounts labelling
Old accounts: (37210, 3)
New accounts: (8775, 3)
Old threshold: 0.19907407407407407
New threshold: 0.5786182336182336
Merging cleaned application and credit records
Train shape: (29264, 28)
Test shape: (7193, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29264 entries, 0 to 29263
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           29264 non-null  int64
 1   cnt_children                 29264 non-null  int64
 2   amt_income_total             29264 non-null  float64
 3   days_birth                   29264 non-null  int64
 4   days_employed                29264 non-null  int64
 5   flag_mobil                   29264 non-null  int64
 6   flag_work_phone              29264 non-null  int64
 7   flag_phone                   29264 non-null  int64
 8   flag_email                   29264 non-null  int64
 9   cnt_fam_members              29264 non-null  int64
 10  cnt_children_encoded         29264 non-null  int64
 11  age                          29264 non-null  int64
 12  age_binned_encoded           29264 non-null  int64
 13  months_employed              29264 non-null  int64
 14  years_employed               29264 non-null  int64
 15  employment_status_encoded    29264 non-null  int64
 16  cnt_fam_members_encoded      29264 non-null  int64
 17  name_income_type_encoded     29264 non-null  int64
 18  name_education_type_encoded  29264 non-null  int64
 19  name_family_status_encoded   29264 non-null  int64
 20  name_housing_type_encoded    29264 non-null  int64
 21  occupation_type_encoded      29264 non-null  int64
 22  gender_encoded               29264 non-null  int64
 23  flag_own_realty_encoded      29264 non-null  int64
 24  flag_own_car_encoded         29264 non-null  int64
 25  amt_income_total_log         29264 non-null  float64
 26  risk_score                   29264 non-null  float64
 27  label                        29264 non-null  int64
dtypes: float64(3), int64(25)
memory usage: 6.3 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7193 entries, 0 to 7192
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           7193 non-null   int64
 1   cnt_children                 7193 non-null   int64
 2   amt_income_total             7193 non-null   float64
 3   days_birth                   7193 non-null   int64
 4   days_employed                7193 non-null   int64
 5   flag_mobil                   7193 non-null   int64
 6   flag_work_phone              7193 non-null   int64
 7   flag_phone                   7193 non-null   int64
 8   flag_email                   7193 non-null   int64
 9   cnt_fam_members              7193 non-null   int64
 10  cnt_children_encoded         7193 non-null   int64
 11  age                          7193 non-null   int64
 12  age_binned_encoded           7193 non-null   int64
 13  months_employed              7193 non-null   int64
 14  years_employed               7193 non-null   int64
 15  employment_status_encoded    7193 non-null   int64
 16  cnt_fam_members_encoded      7193 non-null   int64
 17  name_income_type_encoded     7193 non-null   int64
 18  name_education_type_encoded  7193 non-null   int64
 19  name_family_status_encoded   7193 non-null   int64
 20  name_housing_type_encoded    7193 non-null   int64
 21  occupation_type_encoded      7193 non-null   int64
 22  gender_encoded               7193 non-null   int64
 23  flag_own_realty_encoded      7193 non-null   int64
 24  flag_own_car_encoded         7193 non-null   int64
 25  amt_income_total_log         7193 non-null   float64
 26  risk_score                   7193 non-null   float64
 27  label                        7193 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 1.5 MB
None
Final train and test processing completed generated successfully